@import url("theme.css");

:root {
  --transition: 0.1s linear;
  --spotify-green: #1db954;
  --gradient-0: linear-gradient(#d3f2fd, #fed6b9);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  color: var(--gray-0);
}
html {
  background: var(--gradient-0);
  color: var(--color);
}

p,
li,
td {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-2);
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  font-family: var(--font-family-heading);
}

h1 {
  font-size: var(--font-size-9);
}
h2 {
  font-size: var(--font-size-8);
}
h3 {
  font-size: var(--font-size-7);
}
h4 {
  font-size: var(--font-size-6);
}
h5 {
  font-size: var(--font-size-5);
}
h6 {
  font-size: var(--font-size-2);
}
